
/* my styles */

p {
  font-size: 16px;
}
.pageContents {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    background-color: rgba(255,255,255,0);
}

/* This styles the outer header boundary and content positions. */
.entireHeader {
    width: 280px;
    display: block;
    justify-content: center;
}

.topHeader {
    width: 280px;
    display: inline-block;
    background-color: #181818; 
}

.bottomHeader {
    width: 280px;
    display: inline-block;
    background-color: #fafafb;
}

.topheadertext{
    font-family:Noto Sans;
    float: left;
    width: 150px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    background-color: #181818;
}

.bottomheadertext{
    font-family:Public Sans;
    float: left;
    width: 150px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.inputsearch {
    font-family : Public Sans;
    float : right;
    white-space : nowrap;
    overflow : hidden;
    margin-left : 20px;
    margin-top : 20px;
}

/* styling for screen width larger than 568px, the standard width of an iphone screen. */
@media (min-width: 568px){
  p {
    font-size: 12px;
    /* color: red; */
  }

  .pageContents {
    width: 1880px;
  }

  .entireHeader {
    width: 1880px;
}

.topHeader {
    width: 1880px;
}

.bottomHeader {
  width: 1880px;
}

}